<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p>I studied Software Engineering at Philadelphia University in Jarash, Jordan, where I built a strong foundation in programming, web and mobile app development, and database management.
     After graduating, I embarked on a professional journey, starting as a Software Developer Intern and progressing to a Senior Software Engineer. Throughout my career, I have led significant projects, such as developing a scalable e-commerce platform and a university security mobile app with facial recognition.
      My technical expertise includes proficiency in Java, Python, JavaScript, and frameworks like React and Flutter, as well as cloud platforms like AWS and Azure. Committed to continuous learning, I actively participate in tech communities, complete online courses, and work on personal projects.
       Looking ahead, I aspire to explore emerging technologies, take on leadership roles, and contribute to open-source projects.
  </p>
  
  <p>I developed a robust foundation in various aspects of software development,
     including programming languages like Java, C++, and Python, web and mobile app development,
      and database management. My educational journey equipped me with a deep understanding of
      the Software Development Life Cycle (SDLC) and methodologies such as Agile and Waterfall.
      After completing my degree, I embarked on a professional journey that saw me grow from a Software Developer Intern, working on enhancing existing applications and developing new features, to a Senior Software Engineer leading full-stack development projects. I have spearheaded key projects, including the creation of 
      a scalable e-commerce platform and a comprehensive mobile app for university security and attendance tracking, which utilized advanced facial recognition technology. My technical expertise spans a range of technologies and tools, including React, Angular, Flutter, Django, MySQL, PostgreSQL, MongoDB,
      AWS, Azure, and Google Cloud. Committed to continuous learning, I actively engage in tech communities, attend conferences, complete online courses, 
      and work on personal projects to stay abreast of the latest industry trends. Looking to the future, I am excited to delve into emerging technologies like artificial intelligence, 
      machine learning, and blockchain, take on more leadership roles, mentor aspiring developers, and contribute to open-source projects, thereby giving back to the global tech community.
  </p>

  <%- include("partials/footer.ejs") %>